.left {
  position: absolute;
  margin-top: 1.05vw;
  margin-left: 1.6vw;
  width: 1.4vw;
  height: 1.4vw;
  border-top: 0.5vw solid #333;
  border-right: 0.5vw solid #333;
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.left:hover {
  scale: 1.3;
  cursor: pointer;
}
